<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Ross
            <span class="text-secondary">Money</span>
        </h1>
        <div class="subheading mb-5">·
            <a href="mailto:ross@rossmoney.me">ross@rossmoney.me</a>
        </div>
        <p class="lead mb-5">
        I have over four years of experience in web development, using frameworks such as Laravel and Vue.js. I am also starting out as a DevOps Engineer with knowledge of AWS Cloud and Infrastructure as Code tools.
<br><br>
In my previous role I was working directly with the Senior DevOps Engineer, maintaining applications with Golang to support the business, and reporting on server logs and downtime via various channels and platforms.
<br><br>
In other roles I also contributed to developing and maintaining web-based applications to manage different aspects of business operations, such as CRM, sales, IT support, and recruitment. I have developed features such as finance integrations and call centre functionality, using APIs and third-party services. 
<br><br>
I am passionate about creating efficient, reliable, and user-friendly solutions that meet the needs and expectations of the clients and the users.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/rossmoney/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/rossmoney"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />