<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">PHP Developer (DevOps)</h3>
                <div class="subheading mb-3"><a target="_blank" href="https://www.rawnet.com">Rawnet Ltd</a></div>
                <p>
                    Working as DevOps support / PHP developer for our in-house developers and supporting our senior DevOps engineer with infrastructure builds and updates on AWS, following AWS well-architected framework and using Terraform and Ansible.

                    Achievements and responsibilities:
                    <ul>
                        <li>Monitoring uptime and resilience of our client sites and reporting on server downtime.</li>
                        <li>Wrote and maintained bespoke developer tooling using Golang.</li>
                        <li>Patch management and installation of packages on Ubuntu Servers using Canonical Landscape.</li>
                        <li>Developing PHP code for Concrete5 CMS.</li>
                        <li>Actioning SSL certificate renewals within AWS ACM.</li>
                        <li>Supporting local Docker setups for each project including Makefile commands.</li>
                        <li>Acted as a point of contact for other developers for AWS queries and support.</li>
                        <li>Maintained robust security measures, including IP blocking through AWS Web Application Firewall, as well as monitoring container and dependency scans in Gitlab.</li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">October 2021 - April 2024</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Developer</h3>
                <div class="subheading mb-3"><a target="_blank" href="https://www.projectbetterenergy.com">Project Better Energy Ltd</a></div>
                <p>Collaborated within a team of 4 developers and one QA Tester, utilizing Git for version control and Gitlab issue tracker.

                    Key responsibilities:
                    <ul>
                        <li>Contributed to maintaining and developing diverse web-based (Laravel) applications managing various aspects of business operations (CMS, Sales, IT Support, Recruitment) for different brands and products, and linking together business operations with different applications.</li>
                        <li>Developed finance application screens for the main sales app to support new finance companies / integrations, and utilising each companies specific API to register the finance.</li>
                        <li>Executed frontend work, transforming designs from in-house and external agencies into web-based products using Reveal.js presentation framework, Illustrator, and Photoshop.</li>
                        <li>Contributed to the implementation of features for listing stockists of EV Chargers, which were incorporated into a map on the front-facing web.</li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">April 2018 - September 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3"><a target="_blank" href="https://www.regit.cars">Regit.cars</a></div>
                <p>
                    Team of 6 developers utilising the agile philosophy with Pivotal task tracker.
                    <ul>
                        <li>Building new software for the in-house call centre utilising Laravel, Vue JS and Twilio. This integrated platform allowed sales people to track leads and directly start a call, improving efficiency.</li>
                        <li>Building new features for the motoring.co.uk website rebrand. Utilising access to APIs providing official data on vehicles queried using Reg numbers. Rebrand helped drive more people to the company.</li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">September 2016 - April 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">LAMP PHP Developer</h3>
                <div class="subheading mb-3">FusePump Ltd</div>
                <p>
                    Affiliate marketing focus through the use of data scraping technology working to directly increase client sales on the web.

                    Utilisation of JIRA and the AGILE methodology with daily stand-ups, 8 developer team.
                    <ul>
                        <li>Supporting the "BuyNow" solution, (now absorbed under WPP agency), by building agents to scrape price and other metadata related to the products to store in a MySQL database.</li>
                        <li>Worked on in-house systems for clients to set up the scrapes and manage their reach.</li>
                        <li>Utilised the Linux command line to run agents to test them under proprietary scraping framework.</li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">January 2014 - November 2015</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />