<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy my time being outdoors going on nature walks and visiting London, which is my favourite city due to the history and things to do there.</p>
        <p class="mb-0">When indoors, I follow a number of sci-fi and fantasy genre movies, watch anime and listen to electronic music. Honkai star rail is my favourite game. My favourite colour is blue.</p>
    </div>
</section>
<hr class="m-0" />